/* styles.css */
body {
    background-color: #f0f0f0;
}

h1 {
    color: red; /* Zmiana koloru nagłówka na czerwony */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../static/tlo.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    padding: 20px;
    width: 80%; 
    height: 80%;
    max-width: 600px;
    margin: auto; 
    margin-top: 100px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Cień */
}

.container2 {
    background: rgba(0, 0, 0, 0.7); /* Lekko przezroczyste tło */
    border-radius: 15px; 
    padding: 30px; 
    width: 80%;
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
}
.timer-container {
    background: white; 
    border-radius: 20px; 
    padding: 15px; 
    color: black; 
    font-size: 5em; 
    margin: 20px 0; 
}

#currentDate {
    font-size: 0.4em; 
    margin-top: 10px; 
}

.button-container {
    display: flex; 
    justify-content: space-around; 
    width: 100%;
    margin: 20px 20px; 
    padding: 20px;
    background: none;
}


.login-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

label {
    font-weight: bold;
    font-size: 1.6em;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.user-greeting {
    font-size: 1.2em;
    color: #333;
    margin-left: 10px;
}

.logout-button {
    text-decoration: none;
    background-color: #480e50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #47254d;
}

input[type="id"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc; /* Dodanie cienkiej ramki tylko wokół pola wpisywania */
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
}

input[type="id"]:focus,
input[type="password"]:focus {
    border-color: #480e50; /* Zmiana koloru ramki przy focusie */
}


button {
    background-color: #480e50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 80px;
    border-radius: 30%;
    font-size: 1em;
    margin-top: 10px;
}

.button_shift {
    width: 100px; 
    height: 100px; 
    border: none; 
    border-radius: 50%; /* Okrągłe przyciski */
    background-color: #26aa43; /* Zielony kolor tła przycisków */
    color: white; /* Kolor tekstu przycisków */
    cursor: pointer; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Efekt 3D */
    transition: transform 0.2s; 
    margin: 20px -20px; 
}

.button_shift:hover {
    transform: scale(1.1); 
}

.button_shift:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

button:hover {
    background-color: #47254d;
}

.admin-panel{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    padding: 10px;
    width: 90%; 
    max-width: 600px;
    margin: auto; 
    margin-top: 50px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.admin-button {
    display: block;
    margin: 5px auto;
    padding: 5px 5px;
    background-color: #3d184a;
    width: 140px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s; 
}

.admin-button:hover {
    background-color: #da97e0;
    color: rgb(36, 5, 36);
    transform: scale(1.1); 
}